#post {
    width: 100%;
    height: 100%;
    /* background-color: #ddb152; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: -100%;
}

.post-data-container {
    width: 60%;
    height: 90%;
    background-color: #ddb152;
}

.post-data-container h2 {
    width: 90%;
    height: auto;
    font-size: 3em;
    font-family: 'Caveat', cursive;
    color: #303030;
    padding: 15px 5%;
}

.post-data-container h2 span {
    font-family: 'Caveat', cursive;
    color: #1d1d1d;
}

.post-data-container h3 {
    width: 90%;
    height: auto;
    font-size: 1em;
    font-family: 'Caveat', cursive;
    letter-spacing: 2px;
    color: #444444;
    padding: 5px 5%;
}

.post-data-container p {
    width: 90%;
    height: auto;
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    padding: 15px 5%;
}

.post-image-container {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.post-image1 {
    width: 100%;
    height: 48%;
    background-image: url('../img/post/1.png');
    background-position: center;
    background-size: cover;
}

.post-image2 {
    width: 100%;
    height: 48%;
    background-image: url('../img/post/2.png');
    background-position: center;
    background-size: cover;
}

@media (max-width: 768px) {
    .post-data-container {
        width: 90%;
    }
    .post-image-container {
        display: none;
    }
}

@media (max-width: 425px) {
    .post-data-container p {
        font-size: 1.1em;
    }
}

@media (max-width: 375px) {
    .post-data-container p {
        font-size: 1em;
    }
}

@media (max-width: 320px) {
    .post-data-container {
        width: 100%;
    }
    .post-data-container p {
        font-size: 1em;
        padding: 10px 5%;
    }
}