* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}


/*===============================
=             MODAL             =
===============================*/

#modal {
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
    display: none;
    position: fixed;
    z-index: 1000;
}

.cerrar-btn-modal {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    cursor: pointer;
    position: absolute;
    z-index: 10000;
    font-size: 2em;
    color: #f9f5f4;
    transition: .2s ease-in-out;
    overflow: hidden;
}

.cerrar-btn-modal:hover {
    background-color: #3d3f44;
}

.exit-gallery-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
}

.titulo-modal {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 75px;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.line-modal {
    width: 35px;
    height: 3px;
    background-color: #f9f5f4;
}

.titulo-modal p {
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 1px;
    color: #f9f5f4;
}

.background-top {
    width: 100%;
    height: 65%;
    background-color: #323438;
    position: absolute;
    z-index: 1;
}

.modal-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.mc-top {
    width: 100%;
    height: 73%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img-container {
    width: 85%;
    height: 85%;
    overflow: hidden;
}

.img-container-slide {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    transition: .4s ease;
}

.ic-image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}


/* Web */


/* 0 */

.image-modal-0-1 {
    background-image: url('../img/portafolio/web/0/0.webp');
}

.image-modal-0-2 {
    background-image: url('../img/portafolio/web/0/1.webp');
    left: 100%;
}


/* 1 */

.image-modal-1-1 {
    background-image: url('../img/portafolio/web/1/0.webp');
}

.image-modal-1-2 {
    background-image: url('../img/portafolio/web/1/1.webp');
    left: 100%;
}


/* 2 */

.image-modal-2-1 {
    background-image: url('../img/portafolio/web/2/0.webp');
}

.image-modal-2-2 {
    background-image: url('../img/portafolio/web/2/1.webp');
    left: 100%;
}

.image-modal-2-3 {
    background-image: url('../img/portafolio/web/2/2.webp');
    left: 200%;
}


/* 3 */

.image-modal-3-1 {
    background-image: url('../img/portafolio/web/3/0.webp');
}

.image-modal-3-2 {
    background-image: url('../img/portafolio/web/3/1.webp');
    left: 100%;
}

.image-modal-3-3 {
    background-image: url('../img/portafolio/web/3/2.webp');
    left: 200%;
}


/* 4 */

.image-modal-4-1 {
    background-image: url('../img/portafolio/web/4/0.webp');
}

.image-modal-4-2 {
    background-image: url('../img/portafolio/web/4/1.webp');
    left: 100%;
}


/* 5 */

.image-modal-5-1 {
    background-image: url('../img/portafolio/web/5/0.webp');
}


/* Design */


/* 6 */

.image-modal-6-1 {
    background-image: url('../img/portafolio/design/logos/1.webp');
}

.image-modal-6-2 {
    background-image: url('../img/portafolio/design/logos/2.webp');
    left: 100%;
}

.image-modal-6-3 {
    background-image: url('../img/portafolio/design/logos/3.webp');
    left: 200%;
}

.image-modal-6-4 {
    background-image: url('../img/portafolio/design/logos/4.webp');
    left: 300%;
}

.image-modal-6-5 {
    background-image: url('../img/portafolio/design/logos/5.webp');
    left: 400%;
}


/* 7 */

.image-modal-7-1 {
    background-image: url('../img/portafolio/design/layout/1.webp');
}

.image-modal-7-2 {
    background-image: url('../img/portafolio/design/layout/2.webp');
    left: 100%;
}


/* 8 */

.image-modal-8-1 {
    background-image: url('../img/portafolio/design/lonas/1.webp');
}


/* 9 */

.image-modal-9-1 {
    background-image: url('../img/portafolio/design/mockup/1.webp');
}


/* 10 */

.image-modal-10-1 {
    background-image: url('../img/portafolio/design/portadas/1.webp');
}


/* 11 */

.image-modal-11-1 {
    background-image: url('../img/portafolio/design/post/1.webp');
}

.image-modal-11-2 {
    background-image: url('../img/portafolio/design/post/2.webp');
    left: 100%;
}

.image-modal-11-3 {
    background-image: url('../img/portafolio/design/post/3.webp');
    left: 200%;
}


/*=========== END MODAL IMAGE ===========*/

.btn-modal-slide {
    width: 100%;
    height: 100px;
    top: 50%;
    position: absolute;
    z-index: 1000;
}

.btn-left-modal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #323438;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #f9f5f4;
    position: absolute;
    top: auto;
    left: 10px;
    cursor: pointer;
}

.btn-right-modal {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #323438;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #f9f5f4;
    position: absolute;
    top: auto;
    right: 10px;
    cursor: pointer;
}

.btn-next {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}

.btn-prev {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}

.mc-bottom {
    width: 100%;
    height: 27%;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    z-index: 1100;
    transition: .4s;
}


/* MODAL DATOS MIN */

.modal-datos-min {
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    z-index: 10;
}

.datos-min-left {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.datos-min-left h2 {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #7d7d7d;
    margin-bottom: 5px;
}

.datos-min-left p {
    width: 80%;
    height: auto;
    font-size: 1.3em;
    color: #303030;
}

.datos-min-right {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.datos-min-right h2 {
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    color: #7d7d7d;
    margin-bottom: 5px;
}

.list-technologies {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
}

.list-technologies img {
    width: 25px;
    height: 25px;
}


/*============================
=           HEADER           =
============================*/

header {
    width: 100%;
    height: 400px;
    position: relative;
}

.background-image {
    width: 100%;
    height: 100%;
    background-image: url('../img/background-image.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.background-opacity {
    width: 100%;
    height: 100%;
    background-color: #303030b0;
    position: absolute;
    z-index: 2;
}

.top-header {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.user-image {
    width: 100%;
    height: 100%;
    background-image: url('../img/user-image.webp');
    background-position: -43px 0px;
    background-size: cover;
}

.top-header h1 {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #f9f5f4;
}

.top-header p {
    font-size: 1em;
    font-weight: 400;
    margin-top: 5px;
    color: #f9f5f4cf;
}

.bottom-header {
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.user-data {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0px, auto);
}

.data-box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.data-box2 {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.data-box3 {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.data-box1,
.data-box2,
.data-box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.data-box1 h2,
.data-box2 h2,
.data-box3 h2 {
    font-size: .8em;
    font-weight: 800;
    color: #f9f5f494;
}

.data-box1 p,
.data-box2 p,
.data-box3 p {
    font-size: 1.4em;
    font-weight: 800;
    color: #f9f5f4cf;
}


/*===================================
=          LIST CONTAINER           =
===================================*/

.list-container {
    width: 100%;
    height: 75px;
    background-color: #323438;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0px, auto);
}

.list-box1 {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.list-box3 {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.list-box5 {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
}

.list-box1,
.list-box2,
.list-box3,
.list-box4,
.list-box5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-btn {
    width: 40px;
    height: 40px;
    background-color: #323438;
    border: 2px solid #323438;
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: #f9f5f4;
    transition: .2s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.list-btn:hover {
    box-shadow: 1px 1px 8px #0000002c, -1px -1px 8px #ffffff2c;
}

.list-btn:active {
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52, inset 1px 1px 8px #0000002c, inset -1px -1px 8px #ffffff2c;
}

.btn-slide {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}


/*===============================
=           CONTAINER           =
===============================*/

#container {
    width: 100%;
    height: 1488px;
    overflow: hidden;
    background-color: #323438;
}

.container-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: -100%;
    transition: .4s ease;
}


/* =========== ABOUT =========== */

#about {
    width: 100%;
    height: 100%;
    /* background-color: #5280dd; */
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
}

.about-text {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 5%;
}

.about-text h2 {
    width: 100%;
    height: auto;
    font-size: 5em;
    margin: 20px 0;
    color: #f9f5f4;
}

.about-text p {
    width: 100%;
    height: auto;
    font-size: 1.5em;
    margin: 10px 0;
    color: #d2d2d2;
}

.about-text p span:nth-child(1) {
    color: #9ec4e7;
}

.about-text p span:nth-child(2) {
    color: #b9e79e;
}

.about-text p span:nth-child(3) {
    color: #e7cd9e;
    cursor: pointer;
}

.about-text ul {
    width: 250px;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(0px, auto);
    margin: 20px 0;
}

.about-text ul li:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text ul li:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text ul li:nth-child(3) {
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text ul li a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9f5f4;
    font-size: 2em;
}

.about-text ul li:nth-child(1) a {
    background: #00c6ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0072ff, #00c6ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-text ul li:nth-child(2) a {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-text ul li:nth-child(3) a {
    background: #2980B9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.about-image {
    width: 35%;
    height: 600px;
    background-image: url('../img/about/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 5%;
}

@media (max-width: 1000px) {
    .about-text h2 {
        font-size: 3em;
    }
}

@media (max-width: 700px) {
    .about-image {
        display: none;
    }
    .about-text {
        width: 80%;
        left: 10%;
        align-items: center;
    }
    .about-text h2 {
        text-align: center;
    }
    .about-text p {
        text-align: center;
    }
}

@media (max-width: 365px) {
    .about-text h2 {
        font-size: 2.6em;
    }
    .about-text p {
        font-size: 1.5em;
    }
}


/* =========== GALLERY =========== */

#gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    overflow: hidden;
}

.gallery-top {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-top h2 {
    font-size: 2.5em;
    color: #f9f5f4;
}

.gallery-top p {
    font-size: 1.2em;
    text-align: center;
    color: #f9f5f4;
}

.gallery-type {
    width: 390px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.web-type {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    cursor: pointer;
    transition: .3s ease;
}

.design-type {
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    cursor: pointer;
    transition: .1s ease;
}

.web-type:hover,
.design-type:hover {
    background-color: #3a3b3f;
}

.web-type:active,
.design-type:active {
    background-color: #1e1f21;
}

.btn-type-slide {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}

.line-type {
    width: 50%;
    height: 5px;
    background-color: #f7f7f7;
    position: absolute;
    left: 0;
    bottom: 15px;
    transition: .2s;
}

.gallery-bottom {
    width: 100%;
    height: 1208px;
}

.container-gallery-slide {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0%;
    transition: .4s ease;
}

.gallery-web {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
}

.gallery-design {
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(475px, 1fr));
}

@media (max-width: 768px) {
    .gallery-web {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
    .gallery-design {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    }
}


/* WEB */

.gallery-web-box1 {
    position: relative;
    overflow: hidden;
}

.background-web-image1 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/0/0.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-web-box2 {
    position: relative;
    overflow: hidden;
}

.background-web-image2 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/1/0.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-web-box3 {
    position: relative;
    overflow: hidden;
}

.background-web-image3 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/2/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-web-box4 {
    position: relative;
    overflow: hidden;
}

.background-web-image4 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/3/0.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-web-box5 {
    position: relative;
    overflow: hidden;
}

.background-web-image5 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/4/0.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-web-box6 {
    position: relative;
    overflow: hidden;
}

.background-web-image6 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/web/5/0.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}


/* DESIGN */

.gallery-design-box1 {
    position: relative;
    overflow: hidden;
}

.background-design-image1 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/logos/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-design-box2 {
    position: relative;
    overflow: hidden;
}

.background-design-image2 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/layout/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-design-box3 {
    position: relative;
    overflow: hidden;
}

.background-design-image3 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/lonas/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-design-box4 {
    position: relative;
    overflow: hidden;
}

.background-design-image4 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/mockup/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-design-box5 {
    position: relative;
    overflow: hidden;
}

.background-design-image5 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/portadas/1.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.gallery-design-box6 {
    position: relative;
    overflow: hidden;
}

.background-design-image6 {
    width: 100%;
    height: 100%;
    background-image: url('../img/portafolio/design/post/3.webp');
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}


/* GENERAL */

.background-opacity {
    width: 100%;
    height: 100%;
    background-color: #303030e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    transition: .2s ease;
}

.hover-left {
    left: -100%;
}

.hover-right {
    right: -100%;
}

.background-opacity h2 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #f9f5f4;
}

.background-opacity p {
    width: 90%;
    height: auto;
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
    color: #f9f5f4;
}

.web-links {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.web-links li:nth-child(1) {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-links li:nth-child(1) a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.4em;
    color: #f9f5f4;
    background-color: #30303096;
    border: 2px solid #303030e6;
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.web-links li:nth-child(1) a:hover {
    box-shadow: 1px 1px 8px #0000002c, -1px -1px 8px #ffffff2c;
}

.web-links li:nth-child(1) a:active {
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52, inset 1px 1px 8px #0000002c, inset -1px -1px 8px #ffffff2c;
}

.web-links li:nth-child(2) {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-links li:nth-child(2) a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.4em;
    color: #f9f5f4;
    background-color: #30303096;
    border: 2px solid #303030e6;
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
    position: relative;
    overflow: hidden;
}

.web-links li:nth-child(2) a:hover {
    box-shadow: 1px 1px 8px #0000002c, -1px -1px 8px #ffffff2c;
}

.web-links li:nth-child(2) a:active {
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52, inset 1px 1px 8px #0000002c, inset -1px -1px 8px #ffffff2c;
}

.open-gallery-modal {
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}

.web-links li:nth-child(3) {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web-links li:nth-child(3) a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 1.4em;
    color: #f9f5f4;
    background-color: #30303096;
    border: 2px solid #303030e6;
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s ease;
}

.web-links li:nth-child(3) a:hover {
    box-shadow: 1px 1px 8px #0000002c, -1px -1px 8px #ffffff2c;
}

.web-links li:nth-child(3) a:active {
    box-shadow: 1px 1px 8px #00000052, -1px -1px 8px #ffffff52, inset 1px 1px 8px #0000002c, inset -1px -1px 8px #ffffff2c;
}


/*  HOVER */

.gallery-web-box1:hover .hover-left {
    left: 0%;
}

.gallery-web-box2:hover .hover-right {
    right: 0%;
}

.gallery-web-box3:hover .hover-left {
    left: 0%;
}

.gallery-web-box4:hover .hover-right {
    right: 0%;
}

.gallery-web-box5:hover .hover-left {
    left: 0%;
}

.gallery-web-box6:hover .hover-right {
    right: 0%;
}

.gallery-design-box1:hover .hover-left {
    left: 0%;
}

.gallery-design-box2:hover .hover-right {
    right: 0%;
}

.gallery-design-box3:hover .hover-left {
    left: 0%;
}

.gallery-design-box4:hover .hover-right {
    right: 0%;
}

.gallery-design-box5:hover .hover-left {
    left: 0%;
}

.gallery-design-box6:hover .hover-right {
    right: 0%;
}

@media (max-width: 425px) {
    .gallery-type {
        width: 100%;
    }
    .gallery-top p {
        font-size: 1.1em;
    }
}


/* =========== CONTACT =========== */

#contact {
    width: 100%;
    height: 100%;
    background-color: #323438;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -200%;
}

.contact-container {
    width: 90%;
    height: 90%;
    position: absolute;
}


/* FORM BOX */

.form-box {
    width: 70%;
    height: 571px;
    background-color: #9ec4e7;
    border-radius: 20px;
    position: absolute;
    left: 10%;
    z-index: 1;
}

.form-container {
    width: 50%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 10%;
    z-index: 5;
}

.form-title {
    font-size: 3vw;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    line-height: 45px;
    width: 90%;
    height: 18%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#form {
    width: 340px;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 5%;
    bottom: 0;
}

.input-group {
    width: auto;
    height: 40px;
}

.input-group input {
    width: 320px;
    height: 100%;
    background-color: #9ec4e7;
    border: 3px solid #9ec4e7;
    box-shadow: inset 4px 4px 8px #00000033, inset -4px -4px 8px #ffffff33;
    font-size: 1em;
    padding: 1px 5px;
    transition: .2s ease-in-out;
}

.input-group input:focus {
    outline: none !important;
    border: 3px solid #2472b933;
}

.textarea-group {
    width: auto;
    height: 130px;
}

.textarea-group textarea {
    width: 320px;
    height: 100%;
    background-color: #9ec4e7;
    border: 3px solid #9ec4e7;
    box-shadow: inset 4px 4px 8px #00000033, inset -4px -4px 8px #ffffff33;
    font-size: 1em;
    padding: 5px;
    resize: none;
    transition: .2s ease-in-out;
}

.textarea-group textarea:focus {
    outline: none !important;
    border: 3px solid #2472b933;
}

.send-form {
    width: 150px;
    height: 40px;
}

.send-form input {
    width: 100%;
    height: 100%;
    background-color: #9ec4e7;
    border: 3px solid #9ec4e7;
    box-shadow: 4px 4px 8px #0000004b, -4px -4px 8px #ffffff4b;
    transition: .2s ease-in;
    font-size: 1vw;
    cursor: pointer;
}

.send-form input:hover {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21;
}

.send-form input:active {
    box-shadow: 4px 4px 8px #00000021, -4px -4px 8px #ffffff21, inset 4px 4px 8px #00000021, inset -4px -4px 8px #ffffff21;
}


/* DATA BOX */

.data-box {
    width: 30%;
    height: 571px;
    background-color: #e7cd9e;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 20%;
    right: 15%;
    z-index: 2;
}

.data-container {
    width: 75%;
    height: 70%;
    position: absolute;
    left: 5%;
}

.data-container h3 {
    width: 100%;
    height: auto;
    font-size: 2.2vw;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    line-height: 40px;
}


/* Cylinder */

.cylinder-form-box {
    width: 15%;
    height: 114px;
    position: absolute;
    bottom: 25%;
    left: 0;
    z-index: 3;
}

.cylinder-form1 {
    width: 110px;
    height: 38px;
    background-color: #9ec4e7;
    border-radius: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
}

.cylinder-form2 {
    width: 90%;
    height: 38px;
    background-color: #323438;
    border-radius: 50px;
    position: absolute;
    top: 38px;
    right: 0;
    z-index: 4;
}

.cylinder-form3 {
    width: 145px;
    height: 38px;
    background-color: #9ec4e7;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 5;
}

.circle-form1 {
    width: 38px;
    height: 38px;
    background-color: #9ec4e7;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
}

.cylinder-data1-box {
    width: 15%;
    height: 114px;
    position: absolute;
    top: 25%;
    right: 5%;
    z-index: 3;
}

.cylinder-data1 {
    width: 160px;
    height: 38px;
    background-color: #e7cd9e;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.cylinder-data2 {
    width: 90%;
    height: 38px;
    background-color: #323438;
    border-radius: 50px;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 4;
}

.cylinder-data3 {
    width: 105px;
    height: 38px;
    background-color: #e7cd9e;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}

.cylinder-data2-box {
    width: 15%;
    height: 114px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    z-index: 3;
}

.cylinder-data4 {
    width: 100px;
    height: 38px;
    background-color: #e7cd9e;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.cylinder-data5 {
    width: 90%;
    height: 38px;
    background-color: #323438;
    border-radius: 50px;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 4;
}

.cylinder-data6 {
    width: 150px;
    height: 38px;
    background-color: #e7cd9e;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
}


/*============================
=          FOOTER            =
============================*/

#footer {
    width: 100%;
    height: 10vh;
    background-color: #323438;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer p {
    font-size: 1em;
    color: #f1f1f1;
}

#footer p a {
    font-size: 1em;
    color: #9ec4e7;
}

#footer p a:hover {
    text-decoration: underline;
}

@media (max-width: 425px) {
    .gallery-bottom {
        height: 1208px;
    }
}


/*=============================================
PANTALLA DE ESCRITORIO GRANDE - LARGE (lg) - revisamos en portatil o pc
=============================================*/

@media(min-width:1200px) {}


/*=============================================
PANTALLA DE ESCRITORIO MEDIANO - MEDIUM (md) - revisamos en tablet horizontal 1024px
=============================================*/

@media(max-width:1199px) and (min-width:992px) {}


/*=============================================
PANTALLA DE TABLET - SMALL (sm) - revisamos en tablet vertical 768px
=============================================*/

@media(max-width:991px) and (min-width:768px) {}


/*=============================================
PANTALLA DE PHONES - EXTRA SMALL (xs) - revisamos en movil horizontal 480px o vertical 320px
=============================================*/

@media(max-width:767px) {}